<component name="ArtifactManager">
  <artifact type="exploded-war" name="Springboot_hello:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Springboot_hello_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Springboot_hello/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Springboot_hello" />
        </element>
      </element>
    </root>
  </artifact>
</component>